@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-blue1: #231B3B;
  --color-blue2: #026bd4;
  --color-grey1: #DCD6D6;
  --color-orange1: #FD772D;
  --color-orange2: #F2A70C;
  --color-red1: #A40000;
  --color-purple1: #872B97;
  --color-purple2: #bd0b3e;
  --color-gold1: #b89a47;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-oswald);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
	--color-blue1: #2d1c4f;
  }
}

.btn {
  @apply px-4 py-2 rounded font-semibold transition hover:opacity-90;
}

.btn-small {
  @apply px-2 py-1 rounded bg-gray-200 text-black hover:bg-gray-300;
}

h1 {
  font-size: 3rem; /* e.g. 40px */
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-oswald), sans-serif;
}
